.container {
    border-radius: 8px;
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    max-height: 400px;
    margin: 16px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #007bff;

    /* Chrome, Safari */
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #007bff;
        border-radius: 4px;
    }
}

.brandItem {
    display: block;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
}

.brandItemSelected {
    display: block;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}