.container {
    flex-direction: column;
    display: flex;
}

.content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.spinner {
    border: 8px solid #ccc;
    border-top: 8px solid #007bff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}